h1= title
h4 Welcome to #{title}

#main
  form(method='POST', action='get')
    input(placeholder='Enter text here...')
    br
    button.button Get QR Code for this text
      
    
script(src='/javascripts/main.js')
